.App {
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;

}

.search-button {
    background-color: lightcoral;
    border: none;
    padding: 10px 20px;
    color: white;
}

.recipes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}