.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    width: 40%;
    height: 800px;
    overflow: auto;
}

.image {
    border-radius: 10%;
    margin: 10px;
}
.calories{
    font-size: 23px;
    font-weight: bold;
}